.carousel-body {
  width: 100%;
}

.media-img {
  filter: invert(47%) sepia(75%) saturate(439%) hue-rotate(81deg) brightness(95%) contrast(96%);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.media-heaeder

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section {
  margin-bottom: 20px;
}

.title-section {
  text-align: center;
}